// color
$grey-text-color:#727272;
$white-text-color:#FFFFFF;
$black-text-color:#000;
$primary-color: #34547a;
$hover-bt-color:#5376a0;
$bg-hero-color:#EEEFF1;
$bg-about-color:#f9f9f9;

// font - family
$basic-font-family:"Roboto", sans-serif;

// font-size
$fs-h1: 48px;
$fs-h2: 32px;
$fs-h3: 21px;

$fs-text-basic: 16px;
$fs-text-sm: 13px;

// font-weight
$fw-medium: 500;

// bp
$bp-l:1200px;
$bp-m:768px;